#{extends 'main.html' /}
#{set title:'Classrooms' /}



*{<div class="jumbotron">}*
    *{<div class="container">}*
        *{<h1>Classrooms</h1>}*
        *{<p>List all classroms and allow to edit them</p>}*
    *{</div>}*
*{</div>}*


<div class="container">
    <div class="row">
        <div class="col-sm">
        #{if classrooms}

            <table class="table table-striped table-hover table-sm">

                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">nb</th>
                </tr>
                </thead>

                <tbody>

                    #{list items:classrooms, as:'classroom'}
                    <tr>
                        <th scope="row">
                            <a href="@{Classrooms.openDetail(classroom.id)}">${classroom.name}</a>
                        </th>
                        <td>${classroom.kind}</td>
                        <td>${classroom.nb}</td>
                    </tr>
                    #{/list}

                </tbody>

            </table>

        #{/if}
        #{else }
            <p>No classes</p>
        #{/else}

        </div>
    </div>
</div>

