#{extends 'main.html' /}
#{set title:'Classroom' /}


<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>&{'classrooms.title.classrooms_edit.name', classroom.name}</h1>
            <dl>
                <dt>&{'classrooms.dt.classrooms_edit.kind'}</dt>
                <dd>${classroom.kind}</dd>
                <dt>&{'classrooms.dt.classrooms_edit.students_nb'}</dt>
                <dd>${students.size()}</dd>
            </dl>

        #{users students:students, withId:true, tableId:'studentsTable'/}

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        // $('#studentsTable').DataTable({
        //     "paging": true
        // });
        // $('.dataTables_length').addClass('bs-select');
    });
</script>

