#{extends 'main.html' /}
#{set title:'Classroom' /}



*{<div class="jumbotron">}*
    *{<div class="container">}*
        *{<h1>Classroom</h1>}*
        *{<p>Allow to show a single classroom list</p>}*
    *{</div>}*
*{</div>}*


<div class="container">
    <div class="row">
        <div class="col-sm">

            <dl>
                <dt>Classroom name</dt>
                <dd>${classroom.name}</dd>
                <dt>Type</dt>
                <dd>${classroom.kind}</dd>
            </dl>

        #{users students:students, withId:true /}

        </div>
    </div>
</div>