#{extends 'main.html' /}
#{set title:'Activities' /}

<div class="container">
    <div class="row">
        <div class="col-sm">
        <h2>&{'activities.title.detail.activitiy',schoolEventActivity.name}</h2>

            <nav class="nav">
                <a class="nav-link" href="@{SchoolEventActivities.list(schoolEventActivity.schoolEvent.id)}">&leftarrow; &{'activities.link.detail.back_to_list'}</a>
            </nav>
            <ul class="nav nav-tabs" id="groupsTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="choice1-tab" data-toggle="tab" href="#choice1" role="tab"
                       aria-controls="choice1" aria-selected="true">&{'activities.link.detail.choice_1'}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="choice2-tab" data-toggle="tab" href="#choice2" role="tab"
                       aria-controls="choice2"
                       aria-selected="false">&{'activities.link.detail.choice_2'}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="choice3-tab" data-toggle="tab" href="#choice3" role="tab"
                       aria-controls="choice3"
                       aria-selected="false">&{'activities.link.detail.choice_3'}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="choice4-tab" data-toggle="tab" href="#choice4" role="tab"
                       aria-controls="choice4"
                       aria-selected="false">&{'activities.link.detail.choice_4'}</a>
                </li>
            </ul>

<br>
            <div class="tab-content">
                <div class="tab-pane active" id="choice1" role="tabpanel" aria-labelledby="choice1-tab">
                #{users students:choice1Students, withClassroom:true, backUrl:@controllers.SchoolEventActivities.detail(schoolEventActivity.id)/}
                </div>
                <div class="tab-pane " id="choice2" role="tabpanel" aria-labelledby="choice2-tab">
                #{users students:choice2Students, withClassroom:true, backUrl:@controllers.SchoolEventActivities.detail(schoolEventActivity.id)/}
                </div>
                <div class="tab-pane " id="choice3" role="tabpanel" aria-labelledby="choice3-tab">
                #{users students:choice3Students, withClassroom:true, backUrl:@controllers.SchoolEventActivities.detail(schoolEventActivity.id)/}
                </div>
                <div class="tab-pane " id="choice4" role="tabpanel" aria-labelledby="choice4-tab">
                #{users students:choice4Students, withClassroom:true, backUrl:@controllers.SchoolEventActivities.detail(schoolEventActivity.id)/}
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "paging": false,
            "searching": false
        });
        $('.dataTables_length').addClass('bs-select');
        // $('.dataTables_length').addClass('bs-select');
    });
</script>
