#{extends 'main.html' /}
#{set title:'Activities' /}



<div class="jumbotron">
    <div class="container">
        <h1>Activities list</h1>
        <p>Allow to show all acticities present and operate some oprations on multiple of them</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">

        #{if activityKindSummaries}

            #{form @prepareBatch(), class:'container'}

                <fieldset>
                    <legend>Actions</legend>

                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="submit" name="batchAction" value="merge" class="btn btn-info">Merge</button>
                            <button type="submit" name="batchAction" value="deletion" class="btn btn-warning">Delete</button>
                        </div>
                    </div>


                </fieldset>

            <fieldset>
                <legend>Activities list <span class="badge badge-light">${activityKindSummaries.size()}</span></legend>
                <table class="table table-striped table-hover table-sm" id="activitiesTable">
                    <thead>
                    <tr>
                        <th scope="col" colspan="2">Activity</th>
                        <th scope="col">Choice 1</th>
                        <th scope="col">Choice 2</th>
                        <th scope="col">Choice 3</th>
                        <th scope="col">Choice 4</th>
                    </tr>
                    </thead>
                    <tbody>
                        #{list items:activityKindSummaries, as:'activityKindSummary'}
                        <tr class="clickable-row">
                            <td>
                                <label>
                                    Sel. <input type="checkbox" name="selection"
                                                value="${activityKindSummary.schoolEventActivity.id}"/>
                                </label>
                            </td>
                            <th scope="row"><a
                                    href="@{SchoolEventActivities.detail(activityKindSummary.schoolEventActivity.id)}">${activityKindSummary.schoolEventActivity.name}</a>
                            </th>
                            <td><span class="badge badge-light">${activityKindSummary.choice1}</span></td>
                            <td><span class="badge badge-light">${activityKindSummary.choice2}</span></td>
                            <td><span class="badge badge-light">${activityKindSummary.choice3}</span></td>
                            <td><span class="badge badge-light">${activityKindSummary.choice4}</span></td>
                        </tr>
                        #{/list}
                    </tbody>
                </table>
            #{/form}

        #{/if}
        #{else }
            <p>No schoolEventActivities</p>
        #{/else}
        </fieldset>
        </div>
    </div>
</div>
