#{extends 'main.html' /}
#{set title:'Activities' /}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>&{'activities.title.list.activities.list_for_event', schoolEvent.name}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">

        #{if activityKindSummaries}

            #{form @prepareBatch(), class:'container'}
            <input type="hidden" name="schoolEventId" value="${schoolEvent.id}">

                <fieldset>
                    <legend>&{'activities.legend.list.activities.actions'}</legend>

                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="submit" name="batchAction" value="merge" class="btn btn-info">&{'activities.legend.list.activities.merge'}</button>
                            <button type="submit" name="batchAction" value="deletion" class="btn btn-warning">&{'activities.legend.list.activities.delete'}</button>
                        </div>
                    </div>


                </fieldset>

            <fieldset>

                <table class="table table-striped table-hover table-sm" id="activitiesTable">
                    <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Choice 1</th>
                        <th scope="col">Choice 2</th>
                        <th scope="col">Choice 3</th>
                        <th scope="col">Choice 4</th>
                    </tr>
                    </thead>
                    <tbody>
                        #{list items:activityKindSummaries, as:'activityKindSummary'}
                        <tr class="clickable-row">
                            <td>
                                <label>
                                    <input type="checkbox" name="selection"
                                                value="${activityKindSummary.schoolEventActivity.id}"/>
                                    <a
                                            href="@{SchoolEventActivities.detail(activityKindSummary.schoolEventActivity.id)}">${activityKindSummary.schoolEventActivity.name}</a>
                                </label>
                            </td>
                            <td><span class="badge badge-light">${activityKindSummary.choice1}</span></td>
                            <td><span class="badge badge-light">${activityKindSummary.choice2}</span></td>
                            <td><span class="badge badge-light">${activityKindSummary.choice3}</span></td>
                            <td><span class="badge badge-light">${activityKindSummary.choice4}</span></td>
                        </tr>
                        #{/list}
                    </tbody>
                </table>
            #{/form}

        #{/if}
        #{else }
            <p>No schoolEventActivities</p>
        #{/else}
        </fieldset>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#activitiesTable').DataTable({
            "paging": false,
            "searching": false
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
