#{extends 'main.html' /}
#{set title:'Student' /}




*{<div class="jumbotron">}*
    *{<div class="container">}*
        *{<h1 >Student show</h1>}*
        *{<p>Allow to show a single student</p>}*
    *{</div>}*
*{</div>}*

<div class="container">
    <div class="row">


        <dl>
            <dt>Firstname</dt>
            <dd>${student.firstname}</dd>

            <dt>Name</dt>
            <dd>${student.name}</dd>

            <dt>Classroom</dt>
            <dd>${student.classroom.name}</dd>

        </dl>

    </div>
</div>


