#{extends 'main.html' /}
#{set title:'Student' /}


<div class="container">
    <div class="row">
        <div class="col-sm">
            <nav class="nav">
                <a class="nav-link" href="${backUrl}">&leftarrow; Back</a>
            </nav>

            <h2>Student ${student.name} ${student.firstname}</h2>
            <dl>
                <dt>Firstname</dt>
                <dd>${student.firstname}</dd>

                <dt>Name</dt>
                <dd>${student.name}</dd>

                <dt>Classroom</dt>
                <dd>${student.classroom.name}</dd>

            </dl>

        </div>
    </div>
    <div class="row">
        <div class="col-sm">

        </div>
    </div>
</div>


