#{extends 'main.html' /}
#{set title:'StudentEventChoices' /}


<div class="container">
    <div class="row">
        <div class="col-sm">

            <nav class="nav">
                <a class="nav-link"
                   href="@{controllers.SchoolEventStudentChoices.listInClassroom(schoolEventId, studentChoices.student.classroom.kind.name(), studentChoices.student.classroom.id)}">&leftarrow; &{'dispatchs.link.moveStudentGroup.back'}</a>
            </nav>
            <h1>Edit choices of ${studentChoices.student.firstname} ${studentChoices.student.name}</h1>
        #{form @controllers.SchoolEventStudentChoices.save()}
            <input type="hidden" name="studentChoicesId" value="${studentChoices.id}">
            <input type="hidden" name="schoolEventId" value="${schoolEventId}">

            <fieldset>
                <legend>Presence</legend>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="absence" id="absenceRadioPresence" value="false" ${!studentChoices.absent?'checked':''}>
                    <label class="form-check-label" for="absenceRadioPresence">Present</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="absence" id="absenceRadioAbsence" value="true" ${studentChoices.absent?'checked':''} >
                    <label class="form-check-label" for="absenceRadioAbsence">Absent</label>
                </div>
            </fieldset>

            <fieldset class="if-present">
                <div class="form-check">
                    <input class="form-check-input" id="absentFriday" type="checkbox" name="absentFriday" ${studentChoices.absentFriday?'checked':''}>
                    <label class="form-check-label" for="absentFriday">Absence Friday</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="absentSaturday" type="checkbox" name="absentSaturday" ${studentChoices.absentSaturday?'checked':''}>
                    <label class="form-check-label" for="absentSaturday">Absence Saturday</label>
                </div>
            </fieldset>
            <fieldset class="if-present">
                <legend>Activities choices</legend>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="choice1">Choice 1</label>
                            <select id="choice1" name="choice1Id" class="form-control">
                                #{list activities,as:'activity'}
                                    <option value="${activity.id}" ${studentChoices.choice1?.id==activity.id?'selected':''}>${activity.name}</option>
                                #{/list}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="choice2">Choice 2</label>
                            <select id="choice2" name="choice2Id" class="form-control">
                                #{list activities,as:'activity'}
                                    <option value="${activity.id}" ${studentChoices.choice2?.id==activity.id?'selected':''}>${activity.name}</option>
                                #{/list}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="choice3">Choice 3</label>
                            <select id="choice3" name="choice3Id" class="form-control">
                                #{list activities,as:'activity'}
                                    <option value="${activity.id}" ${studentChoices.choice3?.id==activity.id?'selected':''}>${activity.name}</option>
                                #{/list}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="choice4">Choice 4</label>
                            <select id="choice4" name="choice4Id" class="form-control">
                                #{list activities,as:'activity'}
                                    <option value="${activity.id}" ${studentChoices.choice4?.id==activity.id?'selected':''}>${activity.name}</option>
                                #{/list}
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr/>
            <fieldset>
                <button class="btn btn-info" type="submit">Save</button>
            </fieldset>
        #{/form}
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {


        $('input[type="radio"][name="absence"]').change(function (e) {
            var val = $(this).val();

            $('fieldset.if-present input[type="checkbox"]').prop('disabled', !val);
            $('fieldset.if-present select').prop('disabled', !val);


            // if(val) {
            //     $('fieldset.if-present input[type="checkbox"]').attr('disabled', true);
            //     $('fieldset.if-present select').attr('disabled', true);
            // } else {
            //     $('fieldset.if-present input[type="checkbox"]').removeAttr('disabled');
            //     $('fieldset.if-present select').removeAttr('disabled');
            // }
            console.log(val);
        });
        // $('#absenceRadioPresence').click(function (e) {
        //     console.log($(this).val());
        // });
        // $('#absenceRadioAbsence').click(function (e) {
        //     console.log($(this).val());
        // })
    });
</script>