#{extends 'main.html' /}
#{set title:'Group' /}

<div class="container">


    <ul class="nav nav-tabs" id="groupsTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="groupA-tab" data-toggle="tab" href="#groupA" role="tab"
               aria-controls="groupA" aria-selected="true">Group A</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="groupB-tab" data-toggle="tab" href="#groupB" role="tab" aria-controls="groupB"
               aria-selected="false">Group B</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="groupA" role="tabpanel" aria-labelledby="groupA-tab">
            <h2>Group A</h2>
            #{users students:groupA, withClassroom:true, withSibling:true/}
        </div>
        <div class="tab-pane" id="groupB" role="tabpanel" aria-labelledby="groupB-tab">
            <h2>Group B</h2>
            #{users students:groupB, withClassroom:true, withSibling:true/}
        </div>
    </div>


</div>


<script>
    $(function () {
        $('#groupsTab li:last-child a').tab('show')
    })
</script>
