#{extends 'main.html' /}
#{set title:'Groups' /}



<div class="jumbotron">
    <div class="container">
        <h1>Group preparation</h1>
        <p>Here you may prepare what classrooms are concerned for the wanted groups</p>
    </div>
</div>


<div class="container">
#{if !classrooms}
    <div class="row">
        <div class="col-sm">
            <h5>No classrooms yet available</h5>
        </div>
    </div>
#{/}
#{else }
    <div class="row">
        <div class="col-sm">
            #{form @Groups.dispatch(), id:'dispatchForm'}
                <h3>Select which classrooms are involved:</h3>

                <ul class="list-group">
                    #{list items:classrooms, as:'classroom'}
                        <li class="list-group-item d-flex justify-content-between align-items-center ">
                            <input type="checkbox" id="classroom_${classroom.id}" name="classrooms" value="${classroom.id}"
                                #{if selected.contains(classroom.id)}
                                   checked
                                #{/if}
                            >
                        <label for="classroom_${classroom.id}">${classroom.name}</label>
                            <a href="@{Classrooms.openDetail(classroom.id)}"><span class="badge badge-primary badge-pill">${classroom.nb}</span></a>

                        </li>
                    #{/list}
                </ul>
            #{/form}
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary  btn-lg" id="dispatchButton">Dispatch students</button>
        </div>
    </div>

#{/else}

</div>


<script>
    $(function() {
        $('#dispatchButton').click(function () {
            $('#dispatchForm').submit()
        })
    });

</script>
