*{ Display a list if StudentChoices a table }*
#{set studentChoices:_studentChoices /}
#{set tableId:_tableId /}
#{set fullChoices:_fullChoices /}
#{set withClassroom:_withClassroom/}


<div class="container">
    <div class="row">
        #{doBody /}

        <table
                class="table table-striped table-bordered table-sm"
                id="${tableId}">

            <thead>
            <tr>
                <th style="width: 15%" scope="col">Name</th>
                <th style="width: 15%" scope="col">Firstname</th>
                #{if withClassroom}
                <th style="width: 10%" scope="col">ClassRoom</th>
                #{/if}
                <th style="width: 2%" scope="col">Orange sheets n/a</th>
                <th style="width: 2%" scope="col">Abs. Fr</th>
                <th style="width: 2%" scope="col">Abs. Sa</th>
                <th style="width: 2%" scope="col">Abs.</th>
                <th style="width: 15%" scope="col">Choice 1</th>
                <th style="width: 15%" scope="col">Choice 2</th>
            #{if fullChoices}
                <th  style="width: 15%" scope="col">Choice 3</th>
                <th  style="width: 15%" scope="col">Choice 4</th>
            #{/if}
            </tr>
            </thead>

            <tbody>

            #{list items:studentChoices, as:'studentChoice'}
            <tr class="">
            *{<i class="fas fa-leaf mr-2 blue-text" aria-hidden="true">}*
                <td>${studentChoice.student.name}</td>
                <td>${studentChoice.student.firstname}</td>
            #{if withClassroom}
                <td>${studentChoice.student.classroom.name}</td>
            #{/if}
                <td class="text-center">${studentChoice.orangeSheet?'X':''}</td>
                <td class="text-center">${studentChoice.absentFriday?'X':''}</td>
                <td class="text-center">${studentChoice.absentSaturday?'X':''}</td>
                <td class="text-center">${studentChoice.absent?'X':''}</td>
                <td>${studentChoice.choice1?.name}</td>
                <td>${studentChoice.choice2?.name}</td>
                #{if fullChoices}

                    <td>${studentChoice.choice3?.name}</td>
                    <td>${studentChoice.choice4?.name}</td>
                #{/if}
            </tr>
            #{/list}

            </tbody>

        </table>
    </div>
</div>
