*{ Display a list if students a table }*
#{set students:_students /}
#{set withClassroom:_withClassroom /}
#{set withId:_withId /}
#{set withSibling:_withSibling /}



<h5>Students count : ${students.size}</h5>

<table class="table table-striped table-hover table-sm">

    <thead>
    <tr>
        #{if withId}
        <th scope="col">Identifiant</th>
        #{/if}
        #{if withSibling}
        <th scope="col">Sibling</th>
        #{/if}
        <th scope="col">Name</th>
        <th scope="col">Firstname</th>
        #{if extended}
        <th>ClassRoom</th>
        #{/if}
    </tr>
    </thead>

    <tbody>

    #{list items:students, as:'student'}
    <tr>
    #{if withId}
        <td scope="row">
            <a href="@{Students.openDetail(student.id)}">${student.identifiant}</a>
        </td>
    #{/if}
    #{if withSibling}
        <td>${student.sibling?'X':''}</td>
    #{/if}
        <td>${student.name}</td>
        <td>${student.firstname}</td>
        #{if extended}
            <td>
                <a href="@{Classrooms.openDetail(student.classroom.id)}">${student.classroom.name}</a>
            </td>
        #{/}
    </tr>
    #{/list}

    </tbody>

</table>