#{extends 'main.html' /}
#{set title:'Group' /}




*{<div class="jumbotron">}*
*{<div class="container">}*
*{<h1>Group dispatch</h1>}*
*{<p>Here is the result of the dispatch</p>}*
*{</div>}*
*{</div>}*

#{form @saveDispatch()}
<input type="hidden" name="schoolEventId" value="${schoolEvent.id}"/>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Groups result dispatch</h2>

            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2" role="group">
                    <button type="submit" value="save" class="btn btn-info">Save</button>
                </div>
            </div>

        </div>
    </div>
    <hr/>
    <div class="row">

        #{list groups, as:'group'}
            <div class="col-sm">
                <h3>Group ${group_index}  <span class="badge badge-secondary">${group.size}</span></h3>

                <ul>

                #{list items:group, as:'studentChoice'}
                    <li>
                        ${studentChoice.student.name} ${studentChoice.student.firstname}
                            <span class="badge badge-light">${studentChoice.choice1.name}</span>/<span class="badge badge-light">${studentChoice.choice2.name}</span>/<span class="badge badge-light">${studentChoice.choice3.name}</span>/<span class="badge badge-light">${studentChoice.choice4.name}</span>
                    </li>
                #{/list}
                </ul>

            </div>
        #{/list}


        *{<div class="col-sm">}*

            *{<ul class="nav nav-tabs" id="groupsTab" role="tablist">}*
                *{#{list groups, as:'group'}}*
                    *{<li class="nav-item">}*
                        *{<a class="nav-link" id="groupTab-${group_index}" data-toggle="tab" href="#group${group_index}"}*
                           *{role="tab"}*
                           *{aria-controls="group${group_index}" aria-selected="true">Group ${group_index}</a>}*
                    *{</li>}*
                *{#{/list}}*
            *{</ul>}*

            *{<div class="tab-content">}*

                *{#{list groups, as:'group'}}*

                    *{<div class="tab-pane" id="group${group_index}" role="tabpanel"}*
                         *{aria-labelledby="group${group_index}-tab">}*
                        *{<br/>}*

                    *{#{studentChoices studentChoices:group, tableId:'group'+group_index+'Table', withClassroom:true}}*
                        *{<h3>Students count <span class="badge badge-secondary">${group.size}</span></h3>}*
                        *{#{/studentChoices}}*
                    *{</div>}*
                *{#{/list}}*

            *{</div>}*
        *{</div>}*
    </div>
</div>
#{/form}


<script>
    $(function () {
        $('#groupsTab li:first-child a').tab('show');

    })
</script>
