#{extends 'main.html' /}
#{set title:'Group' /}


*{<div class="jumbotron">}*
*{<div class="container">}*
*{<h1>Group dispatch</h1>}*
*{<p>Here is the result of the dispatch</p>}*
*{</div>}*
*{</div>}*


<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Groups result dispatch for event ${proposal.schoolEvent.name}</h2>
        </div>
    </div>
    <hr/>
    <div class="row">

        #{list items:proposal.groups, as:'schoolEventGroup'}
            <div class="col-sm">
                <h3>${schoolEventGroup.name}  <span class="badge badge-secondary">${schoolEventGroup.studentCount}</span></h3>
                <ul>
                    #{list items:schoolEventGroup.activities, as:'schoolEventGroupActivity'}
                        <li>${schoolEventGroupActivity.schoolEventActivity.name} <span class="badge badge-primary">${schoolEventGroupActivity.assignments.size()}</span>
                            <ul class="list-group- list-group-sortable-connected">
                                #{list items:schoolEventGroupActivity.assignments, as:'schoolEventGroupStudentAssignment'}
                                    #{set studentChoice:schoolEventGroupStudentAssignment.studentChoices /}
                                    <li class="list-group-item- ">
                                        <p>
                                        *{#{if studentChoice.sibling}<i class="fas fa-child"></i>#{/if}}*
                                        ${studentChoice.student.name} ${studentChoice.student.firstname}
                                        <span class="badge badge-danger">${studentChoice.student.classroom.name}</span>
                                            #{studentChoiceSwapper new:studentChoice.choice1, actual:schoolEventGroupActivity.schoolEventActivity, schoolEventGroupStudentAssignmentId:schoolEventGroupStudentAssignment.id /}/
                                            #{studentChoiceSwapper new:studentChoice.choice2, actual:schoolEventGroupActivity.schoolEventActivity, schoolEventGroupStudentAssignmentId:schoolEventGroupStudentAssignment.id /}/
                                            #{studentChoiceSwapper new:studentChoice.choice3, actual:schoolEventGroupActivity.schoolEventActivity, schoolEventGroupStudentAssignmentId:schoolEventGroupStudentAssignment.id /}/
                                            #{studentChoiceSwapper new:studentChoice.choice4, actual:schoolEventGroupActivity.schoolEventActivity, schoolEventGroupStudentAssignmentId:schoolEventGroupStudentAssignment.id /}
                                        </p>
                                    </li>
                                #{/list}
                            </ul>
                        </li>
                    #{/list}
                </ul>

            </div>
        #{/list}
    </div>
</div>


*{#{set 'moreScripts'}}*
    *{#{script 'sortable/jquery.sortable.js' /}}*
*{#{/set}}*

*{<script>}*
    *{$(function () {}*
        *{$('.list-group-sortable-connected').sortable({}*
            *{placeholderClass: 'list-group-item',}*
            *{connectWith: '.connected'}*
        *{}).bind('sortupdate', function(e, ui) {}*
            *{alert(ui);}*
        *{});}*

    *{})}*
*{</script>}*
