#{extends 'main.html' /}
#{set title:'Group' /}


*{<div class="jumbotron">}*
*{<div class="container">}*
*{<h1>Group dispatch</h1>}*
*{<p>Here is the result of the dispatch</p>}*
*{</div>}*
*{</div>}*

<style rel="stylesheet">
    tr.labels {
        cursor: pointer;
    }

    tr.actions {
        display: none;
    }

    table.table-sm {
        width: 100%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>${proposal.name}</h3>
        </div>
    </div>
    <hr/>
    <div class="row">

    #{list items:proposal.groups, as:'schoolEventGroup'}
        #{set groupCount:activitiesCountMap.get(schoolEventGroup.id)/}
        <div class="col-sm">

            <h3>${schoolEventGroup.name}  <span
                    class="badge badge-pill badge-secondary">${schoolEventGroup.studentCount}</span>
            </h3>
            <table class="table-borderless table-sm ">
                <thead>
                <tr>
                    <th scope="row">Activities <span class="badge badge-success">${schoolEventGroup.activities.size()}</span></th>
                </tr>
                </thead>
                <tbody>
                    #{list items:schoolEventGroup.activities, as:'schoolEventGroupActivity'}
                    <tr>
                        <th scope="row">${schoolEventGroupActivity.schoolEventActivity.name} <span
                                class="badge badge-primary">${groupCount.get(schoolEventGroupActivity.schoolEventActivity.id)}</span>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <table class="table-sm ">
                                #{list items:schoolEventGroupActivity.assignments, as:'schoolEventGroupStudentAssignment'}
                                    #{set studentChoice:schoolEventGroupStudentAssignment.studentChoices /}
                                    #{studentChoiceSwapper schoolEventGroupStudentAssignment:schoolEventGroupStudentAssignment,
                                        schoolEventGroup_isFirst:schoolEventGroup_isFirst,
                                        schoolEventGroup_isLast:schoolEventGroup_isLast
                                        /}
                                #{/list}

                            </table>
                        </td>
                    </tr>
                    #{/list}
                </tbody>

            </table>

        </div>
    #{/list}
    </div>
</div>


*{#{set 'moreScripts'}}*
*{#{script 'sortable/jquery.sortable.js' /}}*
*{#{/set}}*


<script type="text/javascript">

    $(function () {
        $('tr.labels').click(function (ev) {
            // $(this).removeClass('collapsed');
            var id = $(this).data('id');
            $('tr.actions[data-id!="' + id + '"]').hide();
            $('tr.actions[data-id="' + id + '"]')
                    .toggle();
        })
    })
</script>
