#{extends 'main.html' /}
#{set title:'Groups' /}



*{<div class="jumbotron">}*
    *{<div class="container">}*
        *{<h1>Group preparation</h1>}*
        *{<p>Here you may prepare what classrooms are concerned for the wanted groups</p>}*
    *{</div>}*
*{</div>}*


<div class="container">
#{if !classrooms}
    <div class="row">
        <div class="col-sm">
            <h5>No classrooms yet available</h5>
        </div>
    </div>
#{/}
#{else }
    #{form @GroupsDispatchs.dispatch(), id:'dispatchForm'}

        <div class="row">
        <div class="col-sm">
            <h3>Select the school event</h3>
            <label for="schoolEventSelect">School events</label>
            <select id="schoolEventSelect" class="custom-select" name="schoolEventId">
                #{if schoolEvents.size()==1}
                    <option value="${schoolEvents[0].id}" selected>${schoolEvents[0].name}</option>
                #{/if}
                #{else }
                    <option value="" >Select</option>
                    #{list schoolEvents, as:'schoolEvent'}
                        <option value="${schoolEvent.id}">${schoolEvent.name}</option>
                    #{/list}
                #{/else}
            </select>
        </div>
    </div>
<hr/>
    <div class="row">
        <div class="col-sm">

                <h3>Select which classrooms are involved</h3>

                <ul class="list-group">
                    #{list items:classrooms, as:'classroom'}
                        <li class="list-group-item d-flex justify-content-between align-items-center ">
                            <input type="checkbox" id="classroom_${classroom.id}" name="classrooms"
                                   value="${classroom.id}"
                                #{if selected.contains(classroom.id)}
                                   checked
                                #{/if}
                            >
                            <label for="classroom_${classroom.id}">${classroom.name}</label>
                            <a href="@{Classrooms.openDetail(classroom.id)}"><span
                                    class="badge badge-primary badge-pill">${classroom.nb}</span></a>

                        </li>
                    #{/list}
                </ul>
        </div>
        <div class="col-sm">
            <fieldset>
                <h3>How many groups should be created</h3>

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="groupNumber" class="custom-control-input" value="1">
                    <label class="custom-control-label" for="customRadioInline1">1 group</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="groupNumber" class="custom-control-input" value="2" checked>
                    <label class="custom-control-label" for="customRadioInline2">2 groups</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" name="groupNumber" class="custom-control-input" value="3">
                    <label class="custom-control-label" for="customRadioInline3">3 groups</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline4" name="groupNumber" class="custom-control-input" value="4">
                    <label class="custom-control-label" for="customRadioInline4">4 groups</label>
                </div>
            </fieldset>
            <br/>
            <fieldset>
                <h3>Should siblings kept together</h3>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" name="siblingKept" id="siblingKeptRadio1" value="true" checked>
                    <label class="custom-control-label" for="siblingKeptRadio1">Siblings will be kept together</label>
                </div>
            </fieldset>
            <br/>
            <fieldset>
                <h3>How many students in a given activity</h3>
                <div class="form-group">
                    <label for="formControlRange">Select a maximum number of students (1-25) : <span class="badge badge-primary badge-pill" id="rangeVal">20</span></label>
                    <input type="range" class="custom-range" min="1" max="25" value="20" id="formControlRange" name="maximumStudents">
                </div>
            </fieldset>
            <br/>
            <fieldset>
                <button type="submit" class="btn btn-primary  btn-lg">Dispatch students</button>
            </fieldset>
        </div>
    </div>
    #{/form}

#{/else}

<script>
    $(function () {
        $('.custom-range').on('change',function (e) {
            $('#rangeVal').text($(this).val())
        })
        // $('#dispatchButton').click(function () {
        //     $('#dispatchForm').submit()
        // })
    });

</script>
