#{extends 'main.html' /}
#{set title:'Groups' /}

<div class="container">
#{if !classrooms}
    <div class="row">
        <div class="col-sm">
            <h5>&{'dispatchs.title.init.no_classrooms'}</h5>
        </div>
    </div>
#{/}
#{else }
    #{form @GroupsDispatchs.dispatch(), id:'dispatchForm'}

        <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="proposalName">&{'dispatchs.label.init.proposal_name'}</label>
                <input type="text" class="form-control" id="proposalName" name="proposalName" placeholder="Name" value="${proposalName}">
                <small id="proposalNameHelp" class="form-text text-muted">&{'dispatchs.helper.init.proposal_name'}</small>
            </div>


            <h3>&{'dispatchs.title.init.school_event'}</h3>
            <label for="schoolEventSelect">&{'dispatchs.label.init.school_events'}</label>
            <select id="schoolEventSelect" class="custom-select" name="schoolEventId">
                #{if schoolEvents.size()==1}
                    <option value="${schoolEvents[0].id}" selected>${schoolEvents[0].name}</option>
                #{/if}
                #{else }
                    <option value="" >&{'dispatchs.label.init.select'}</option>
                    #{list schoolEvents, as:'schoolEvent'}
                        <option value="${schoolEvent.id}">${schoolEvent.name}</option>
                    #{/list}
                #{/else}
            </select>
        </div>
    </div>
<hr/>
    <div class="row">
        <div class="col-sm">

                <h3>&{'dispatchs.title.init.involved_classrooms'}</h3>

                <ul class="list-group">
                    #{list items:classrooms, as:'classroom'}
                        <li class="list-group-item d-flex justify-content-between align-items-center ">
                            <input type="checkbox" id="classroom_${classroom.id}" name="classrooms"
                                   value="${classroom.id}"
                                #{if selected.contains(classroom.id)}
                                   checked
                                #{/if}
                            >
                            <label for="classroom_${classroom.id}">${classroom.name}</label>
                            <a href="@{Classrooms.openDetail(classroom.id)}"><span
                                    class="badge badge-primary badge-pill">${classroom.nb}</span></a>

                        </li>
                    #{/list}
                </ul>
        </div>
        <div class="col-sm">
            <fieldset>
                <h3>&{'dispatchs.title.init.group_number'}</h3>

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="groupNumber" class="custom-control-input" value="1">
                    <label class="custom-control-label" for="customRadioInline1">&{'dispatchs.title.init.one_group'}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="groupNumber" class="custom-control-input" value="2" checked>
                    <label class="custom-control-label" for="customRadioInline2">&{'dispatchs.title.init.two_groups'}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" name="groupNumber" class="custom-control-input" value="3">
                    <label class="custom-control-label" for="customRadioInline3">&{'dispatchs.title.init.three_groups'}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline4" name="groupNumber" class="custom-control-input" value="4">
                    <label class="custom-control-label" for="customRadioInline4">&{'dispatchs.title.init.four_groups'}</label>
                </div>
            </fieldset>
            <br/>
            <fieldset>
                <h3>&{'dispatchs.title.init.siblings_together'}</h3>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" name="siblingKept" id="siblingKeptRadio1" value="true" checked>
                    <label class="custom-control-label" for="siblingKeptRadio1">&{'dispatchs.label.init.siblings_together'}</label>
                </div>
            </fieldset>
            <br/>
            <fieldset>
                <h3>&{'dispatchs.title.init.students_number'}</h3>
                <div class="form-group">
                    <label for="formControlRange">&{'dispatchs.label.init.students_number'} : <span class="badge badge-primary badge-pill" id="rangeVal">20</span></label>
                    <input type="range" class="custom-range" min="1" max="25" value="20" id="formControlRange" name="maximumStudents">
                </div>
            </fieldset>
            <br/>
            <fieldset>
                <button type="submit" class="btn btn-primary  btn-lg">&{'dispatchs.button.init.dispatch'}</button>
            </fieldset>
        </div>
    </div>
    #{/form}

#{/else}

<script>
    $(function () {
        $('.custom-range').on('change',function (e) {
            $('#rangeVal').text($(this).val())
        })
    });

</script>
