#{extends 'main.html' /}
#{set title:'Groups' /}



*{<div class="jumbotron">}*
    *{<div class="container">}*
        *{<h1>Group preparation</h1>}*
        *{<p>Here you may prepare what classrooms are concerned for the wanted groups</p>}*
    *{</div>}*
*{</div>}*


<div class="container">
#{if !classrooms}
    <div class="row">
        <div class="col-sm">
            <h5>No classrooms yet available</h5>
        </div>
    </div>
#{/}
#{else }
    #{form @GroupsDispatchs.dispatch(), id:'dispatchForm'}

        <div class="row">
        <div class="col-sm">
            <h3>Select the school event</h3>
            <label for="schoolEventSelect">School events</label>
            <select id="schoolEventSelect" class="custom-select" name="schoolEventId">
                #{if schoolEvents.size()==1}
                    <option value="${schoolEvents[0].id}" selected>${schoolEvents[0].name}</option>
                #{/if}
                #{else }
                    <option value="" >Select</option>
                    #{list schoolEvents, as:'schoolEvent'}
                        <option value="${schoolEvent.id}">${schoolEvent.name}</option>
                    #{/list}
                #{/else}
            </select>
        </div>
    </div>
<hr/>
    <div class="row">
        <div class="col-sm">

                <h3>Select which classrooms are involved</h3>


                <ul class="list-group">
                    #{list items:classrooms, as:'classroom'}
                        <li class="list-group-item d-flex justify-content-between align-items-center ">
                            <input type="checkbox" id="classroom_${classroom.id}" name="classrooms"
                                   value="${classroom.id}"
                                #{if selected.contains(classroom.id)}
                                   checked
                                #{/if}
                            >
                            <label for="classroom_${classroom.id}">${classroom.name}</label>
                            <a href="@{Classrooms.openDetail(classroom.id)}"><span
                                    class="badge badge-primary badge-pill">${classroom.nb}</span></a>

                        </li>
                    #{/list}
                </ul>
        </div>
        <div class="col-sm">
            <div>
                <h3>How many groups should be created</h3>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="groupNumber" id="inlineRadio1" value="1">
                    <label class="form-check-label" for="inlineRadio1">1 group</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="groupNumber" id="inlineRadio2" value="2" checked>
                    <label class="form-check-label" for="inlineRadio2">2 groups</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="groupNumber" id="inlineRadio3" value="3">
                    <label class="form-check-label" for="inlineRadio3">3 groups</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="groupNumber" id="inlineRadio4" value="4">
                    <label class="form-check-label" for="inlineRadio4">4 groups</label>
                </div>
            </div>

            <div>
                <h3>Should siblings kept together</h3>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="siblingKept" id="siblingKeptRadio1" value="true" checked>
                    <label class="form-check-label" for="siblingKeptRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="siblingKept" id="siblingKeptRadio2" value="false">
                    <label class="form-check-label" for="siblingKeptRadio2">No</label>
                </div>
            </div>


            <button type="submit" class="btn btn-primary  btn-lg">Dispatch students</button>
        </div>
    </div>
    #{/form}

#{/else}

</div>


<script>
    $(function () {
        // $('#dispatchButton').click(function () {
        //     $('#dispatchForm').submit()
        // })
    });

</script>
