#{extends 'main.html' /}
#{set title:'Groups' /}

<div class="container">
    <div class="row">
        <div class="col-sm">
        #{if !schoolEventProposals}
            <h5>&{'dispatchs.title.list.no_group_proposals'}</h5>
        #{/}
        #{else }
            <h1>&{'dispatchs.title.list.existing_groups_dispatch_proposals'}</h1>
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">&{'dispatchs.th.list.name'}</th>
                    <th scope="col">&{'dispatchs.th.list.creation_date'}</th>
                    <th scope="col">&{'dispatchs.th.list.groups'}</th>
                    <th scope="col">&{'dispatchs.th.list.actions'}</th>
                </tr>
                </thead>
                <tbody>
                #{list schoolEventProposals, as:'schoolEventProposal'}
                <tr>
                    <td>${schoolEventProposal.name}</td>
                    <td>${schoolEventProposal.creationDate?.format('dd.MM.yyyy HH:mm')}</td>
                    <td>${schoolEventProposal.groups.size()}</td>
                    <td>
                        #{a @controllers.GroupsDispatchs.edit(schoolEventProposal.id)}<i class="fa fa-folder-open"></i>#{/a}

                        <a href="#" data-toggle="modal" data-target="#myModal"
                           data-id="${schoolEventProposal.id}"
                           data-name="${schoolEventProposal.name}"
                        ><i class="fa fa-trash"></i></a>

                    </td>
                </tr>
                #{/list}

                </tbody>
            </table>
        #{/else}
            <hr/>
            <p></p>
            <p>&{'dispatchs.link.init.click'} #{a @init()}&{'dispatchs.link.init.here'}#{/a} &{'dispatchs.link.init.create_new_proposal'}</p>
        </div>
    </div>

</div>

<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">&{'dispatchs.title.modal.confirmation'}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2>&{'dispatchs.title.modal.confirmation.deleteion'} <span class="title">TITLE</span> </h2>

                    <hr/>

                    #{form @GroupsDispatchs.delete(), method:'POST'}
                        <input type="hidden" class="schoolEventProposal" name="id" value="">

                        <button type="submit" class="btn btn-sm btn-danger" ><i class="fa fa-trash"></i> &{'dispatchs.title.modal.confirmation.deleteion'}</button>

                    #{/form}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">&{'dispatchs.title.modal.confirmation.close'}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(function () {
        $('#myModal').on('show.bs.modal', function (e) {
            var relatedTarget = $(e.relatedTarget);
            $('input.schoolEventProposal').val(relatedTarget.data('id'));
            $('#myModal span.title').text(relatedTarget.data('name'));
        })
    })
</script>

