#{extends 'main.html' /}
#{set title:'Groups' /}



*{<div class="jumbotron">}*
*{<div class="container">}*
*{<h1>Group proposal list</h1>}*
*{<p>Here you may select an already proposal for group adssignment</p>}*
*{</div>}*
*{</div>}*


<div class="container">
    <div class="row">
        <div class="col-sm">
        #{if !schoolEventProposals}
            <h5>No group proposals yet available</h5>
        #{/}
        #{else }
            <h1>Existing groups dispatch proposals</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Groups</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                #{list schoolEventProposals, as:'schoolEventProposal'}
                <tr>
                    <td>${schoolEventProposal.name}</td>
                    <td>${schoolEventProposal.creationDate?.format('dd.MM.yyyy HH:mm')}</td>
                    <td>${schoolEventProposal.groups.size()}</td>
                    <td>
                        #{a @controllers.GroupsDispatchs.edit(schoolEventProposal.id)}<i class="fa fa-folder-open"></i>#{/a}

                        <a href="#" data-toggle="modal" data-target="#myModal"
                           data-id="${schoolEventProposal.id}"
                           data-name="${schoolEventProposal.name}"
                        ><i class="fa fa-trash"></i></a>

                    </td>
                </tr>
                #{/list}

                </tbody>
            </table>
        #{/else}
            <p>Click #{a @init()}here#{/a} to create a new group dispatch proposal</p>
        </div>
    </div>

</div>

<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2>Delete proposal <span class="title">TITLE</span> </h2>

                    <hr/>

                    #{form @GroupsDispatchs.delete(), method:'POST'}
                        <input type="hidden" class="schoolEventProposal" name="id" value="">

                        <button type="submit" class="btn btn-sm btn-danger" ><i class="fa fa-trash"></i> Delete</button>

                    #{/form}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(function () {
        $('#myModal').on('show.bs.modal', function (e) {
            var relatedTarget = $(e.relatedTarget);
            $('input.schoolEventProposal').val(relatedTarget.data('id'));
            $('#myModal span.title').text(relatedTarget.data('name'));
        })
    })
</script>

