#{extends 'main.html' /}
#{set title:'Group dispatch' /}




<div class="container">
    <div class="row">
        <div class="col-sm">

            <nav class="nav">
                <a class="nav-link" href="@{controllers.GroupsDispatchs.edit(schoolEventProposal.id)}">&leftarrow; &{'dispatchs.link.moveStudentGroup.back'}</a>
            </nav>

        #{form @confirmMoveStudentNextGroup()}
            #{set student:schoolEventGroupStudentAssignment.studentChoices.student /}
            <input type="hidden" name="schoolEventGroupStudentAssignmentId" value="${schoolEventGroupStudentAssignment.id}">
            <input type="hidden" name="newSchoolEventGroupId" value="${newSchoolEventGroup.id}">

            <fieldset>
                <legend>&{'dispatchs.legend.moveStudentGroup.siblings'}</legend>

                <h1>&{'dispatchs.title.moveStudentGroup.brotherhood'} ${student.name}</h1>

                <h3>&{'dispatchs.title.moveStudentGroup.studentMove', student.firstname, student.name}</h3>
                <p>&{'dispatchs.label.moveStudentGroup.studentMove.confirm'}</p>
                <button type="submit" name="chosenChoice" value="moveConfirmed" class="btn btn-warning">&{'dispatchs.button.moveStudentGroup.studentMove.confirm'}</button>

                <hr/>
                <p>&{'dispatchs.label.moveStudentGroup.siblings.confirm'}</p>
                <ul>
                    <li>
                        <label><input type="checkbox" disabled checked> ${student.firstname} ${student.name} - ${schoolEventGroupStudentAssignment.schoolEventGroupActivity.schoolEventActivity.name} </label>
                        <input type="hidden" name="selectedToMove" value="${schoolEventGroupStudentAssignment.id}">

                    </li>
                #{list fratriesInGroup, as:'assignment'}
                    #{set student1:assignment.studentChoices.student /}
                    <li>
                        <label><input type="checkbox" name="selectedToMove" value="${assignment.id}" checked > ${student1.firstname} ${student1.name} - ${assignment.schoolEventGroupActivity.schoolEventActivity.name} </label>
                    </li>
                #{/list}
                </ul>
                <button type="submit" name="chosenChoice" value="moveAllFamily" class="btn btn-primary">&{'dispatchs.button.moveStudentGroup.studentMoveAll.confirm'}</button>

            </fieldset>



        #{/form}


        </div>
    </div>
</div>