#{extends 'main.html' /}
#{set title:'ActivityKinds' /}


<h1>ActivityKinds</h1>


#{if activityKindSummaries}

#{form @prepareBatch()}

<button type="submit" name="batchAction" value="merge" class="btn btn-info">Merge</button>
<button type="submit" name="batchAction" value="deletion" class="btn btn-warning">Delete</button>

<table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
        <th scope="col" colspan="2">Activity</th>
        <th scope="col">Choice 1</th>
        <th scope="col">Choice 2</th>
        <th scope="col">Choice 3</th>
        <th scope="col">Choice 4</th>
    </tr>
    </thead>
    <tbody>
        #{list items:activityKindSummaries, as:'activityKindSummary'}
        <tr>
            <td>
                <label>
                    Sel. <input type="checkbox" name="selection" value="${activityKindSummary.activityKind.id}"/>
                </label>
            </td>
            <th scope="row"><a href="@{ActivityKinds.detail(activityKindSummary.activityKind.id)}">${activityKindSummary.activityKind.name}</a></th>
            <td><span class="badge">${activityKindSummary.choice1}</span></td>
            <td><span class="badge">${activityKindSummary.choice2}</span></td>
            <td><span class="badge">${activityKindSummary.choice3}</span></td>
            <td><span class="badge">${activityKindSummary.choice4}</span></td>
        </tr>
        #{/list}
    </tbody>
</table>
#{/form}

#{/if}
#{else }
<p>No activityKinds</p>
#{/else}



