#{extends 'main.html' /}
#{set title:'Initialize' /}


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Initialization</h1>
        <p>This form helps you to initalize a full database from a given Excel spreadsheet</p>
    *{<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>}*
    </div>
</div>

<div class="container">
    <div class="row">
        *{<div class="col-md-2 col-xl-8">}*

        #{form @uploadData(), enctype:'multipart/form-data'}
            <fieldset>
                <legend>Upload </legend>
                <div class="form-group">
                    <label for="excelFile1">File to upload</label>
                    <input type="file" class="form-control-file" id="excelFile1" name="excel"
                           aria-describedby="excelFileHelp">
                    <small id="excelFileHelp" class="form-text text-muted">This excel spreadheet will be uploaded and
                        parsed.
                    </small>

                </div>
            </fieldset>
            <fieldset>
                <button type="submit" class="btn btn-primary">Send it</button>
            </fieldset>

        #{/form}




        *{</div>}*
    </div>
</div>
