#{extends 'main.html' /}
#{set title:'Initialize' /}



<div class="container">
    <h1>Initialization</h1>
    <p class="lead">Provide me an Excel spreadsheet to initialize the whole DB</p>
</div>

<div class="container">


#{form @uploadData(), enctype:'multipart/form-data'}

    <div class="form-group row">
        <label for="excelFile1" class="col-sm-2 col-form-label">Excel file</label>
        <div class="col-sm-10">
        *{<input type="email" class="form-control" id="inputEmail3" placeholder="Email">}*
            <input type="file" class="form-control-file" id="excelFile1" name="excel">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Send it</button>
        </div>
    </div>

#{/}
</div>
