<!DOCTYPE html>

<html>
<head>
    <title>Cissou-Circus #{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
#{get 'moreStyles' /}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="@{'/public/mdb-4.7.4/css/bootstrap.min.css'}" rel="stylesheet">
    <link href="@{'/public/mdb-4.7.4/css/mdb.min.css'}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">


    <script type="text/javascript" src="@{'/public/mdb-4.7.4/js/jquery-3.3.1.min.js'}" charset="${_response_encoding}"></script>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Cissou-Circus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        *{<li class="nav-item active">}*
        *{<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>}*
        *{<a class="nav-link" href="#">Home </a>}*
        *{</li>}*


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Classrooms
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@{Classrooms.list()}">Classroom list</a>
                    *{<div class="dropdown-divider"></div>}*
                    *{#{list models.Classroom.findAll(), as:'classroom'}}*
                        *{<a class="dropdown-item" href="@{Classrooms.openDetail(classroom.id)}">${classroom.name}</a>}*
                    *{#{/list}}*
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    School activities
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    *{<a class="dropdown-item" href="@{SchoolEvents.list()}">School Events</a>}*
                        <a class="dropdown-item" href="@{SchoolEventActivities.root()}">Activities</a>
                        <a class="dropdown-item" href="@{SchoolEventStudentChoices.root()}">Student choices</a>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="@{GroupsDispatchs.list()}">Groups</a>
            </li>



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@{Application.resetAll()}">Reset</a>
                    <a class="dropdown-item" href="@{Application.init()}">Upload</a>
                    *{<div class="dropdown-divider"></div>}*
                    *{<a class="dropdown-item" href="#">Something else here</a>}*
                </div>
            </li>


        *{<li class="nav-item">}*
        *{<a class="nav-link" href="#">Pricing</a>}*
        *{</li>}*
        *{<li class="nav-item">}*
        *{<a class="nav-link disabled" href="#">Disabled</a>}*
        *{</li>}*
        </ul>
    </div>
</nav>

<main role="main">
    <!-- Content here -->
#{doLayout /}

    <hr>

</main>

<footer class="container text-right">
    <p>-=xF=-</p>
</footer>




<script type="text/javascript" src="@{'/public/mdb-4.7.4/js/popper.min.js'}" charset="${_response_encoding}"></script>
<script type="text/javascript" src="@{'/public/mdb-4.7.4/js/bootstrap.min.js'}" charset="${_response_encoding}"></script>
<script type="text/javascript" src="@{'/public/mdb-4.7.4/js/mdb.js'}" charset="${_response_encoding}"></script>
<script type="text/javascript" src="@{'/public/mdb-4.7.4/js/addons/datatables.js'}" charset="${_response_encoding}"></script>
#{get 'moreScripts' /}

</body>
</html>
