#{extends 'main.html' /}
#{set title:'Exports' /}



<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Activity export for proposal ${proposal.name}</h2>


        #{form @Exports.bySelectedActivity(), id:'dispatchForm', method:'GET'}
            <input type="hidden" name="proposalId" value="${proposal.id}">

            <label for="activitiySelect">Select a classroom</label>
            <select id="activitiySelect" name="activityId">
                #{list activities, as:'activity'}
                    <option value="${activity.id}">${activity.name}</option>
                #{/list}
            </select>

            <button type="submit" class="btn btn-dark-green">Export</button>
        #{/form}

        </div>
    </div>

</div>


<script>
    $(function () {
        // $('#dispatchButton').click(function () {
        //     $('#dispatchForm').submit()
        // })
    });

</script>
